*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url("bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
.mainbody{
    padding-top: 50px;
    padding-left: 50px;
    height: 35vw;
}
h1{
    font-size: large;
}
h2{
    font-size: large;
}
p{
    width: 55vw;
    color: black;
    font-weight: 550;
}
.container{
    height: 1vw;
}
.carousel slide{
    height: 100px;
    width: 300px;
}